@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face{
    font-family: 'Discord';
    /* src: url("fonts/whitneybold.otf");
    src: url("fonts/whitneybook.otf");
    src: url("fonts/whitneybookitalic.otf"); */
    src: url("fonts/whitneylight.otf");
    /* src: url("fonts/whitneylightitalic.otf");
    src: url("fonts/whitneymedium.otf");
    src: url("fonts/whitneymediumitalic.otf");
    src: url("fonts/whitneysemibold.otf");
    src: url("fonts/WhitneySemiboldItalic.otf"); */
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #202c34;
    border-radius: 100px;
}
::-webkit-scrollbar-track{
    background-color: #161e24;
}

::-webkit-scrollbar-thumb:active {
    background-color: #0c1013;
    transition: all 0.5s ease;
}

[aria-label]{
  position: relative;
  text-decoration: none;
}

[aria-label]::before{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  /* top: -999; */
 
}

[aria-label]:hover::before{
  content: attr(aria-label);
  background-color: #222;
  border-radius: 3px;
  text-shadow: 0 0 5px #000;
  white-space: nowrap;
  color: #fff;
  opacity: 1;
  pointer-events: all;
  padding: 6px 12px;
  overflow: hidden;
  top: unset;
}

[aria-label]::after{
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 0;
  position: absolute;
}

[aria-label]:hover::after{
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

[aria-label]:is([data-tooltip="top"])::before{
    bottom: 100%;
    left: 0%;
    margin-bottom: 20px;
}

[aria-label]:is([data-tooltip="top"])::after{
    bottom: 100%;
    left: 40%;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #222;
}

*{
    text-decoration: none;
}

body, html {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: 0%;
    background-color: white;
}

.header {
    position: fixed;
    padding: 20px;
    width: 100%;
    color: white;
    overflow: hidden;
    background: #202c34;
    z-index: 9999;
}

.header > a {
    z-index: 50;
    display: inline;
    position: inherit;
}

.headerr {
 font-size: large;  
 font-weight: 600;
}

#headertext{
    position: inherit;
    padding-left: 65px;
    margin-top: 17px;
}

#headerbuttons {
    text-align: right;
    padding-right: 100px;
    font-size: 20px;
}

.selectionbutton {
    position: relative;
    display: inline;
    padding: 10px;
    text-align: right;
}

#scrolltotop{
    position: fixed;
    bottom: 5px;
    right: 20px;
}

#scrolltotop:hover{
    cursor: pointer;
}

.loader{
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #FFF url(https://cdn.discordapp.com/emojis/876472654452887602.gif?v=1) center center no-repeat;
}

nav ul li a {
    color: white;
    transition: 500ms;
}

.activebar {
    padding: 41px;
    background-color: #ffffff;
    color: black;
}

.mainpage {
    position: inherit;
    height: 850px;
}


#mainpageheader {
    font-size: 40px;
    color: black;
}

.text {
    position: relative;
    text-align: center;
    top: 250px;
}


.team{
    position: relative;
    text-align: center;
    top: 450px;
    height: 1050px;
    background-color: #202c34;
    color: white;
}

.contact{
    position: relative;
    top: 450px;
}

.card {
    display: inline-block;
    position: relative;
    background-color: #151d22;
    border-radius: 10px;
    width: 250px;
    height: 290px;
    z-index: 1;
    margin: 50px;
    transition: all 0.3s ease;
    user-select: none;
    color: white;
    bottom: -50px;
}

.card span, i {
    text-align: center;
    position:relative;
    bottom: 45px;
}

.card p {
    position: relative;
    font-size: 9px;
    background: rgb(255, 255, 255);
    bottom: 40px;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 50px;
    color: black;
    font-weight: 600;
}

.card h5 {
    position: relative;
    font-size: 20px;
    bottom: 25px;
}

.card img {
    position: relative;
    width: 100px;
    height: 100px;
    bottom: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;

}

.cards {
    position: relative;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.cards a{
    text-decoration: none;
}

@media screen and (max-width: 1412px) {
    .card {
        position: relative;
        text-align: center;
        width: 0px;
        height: 0px;
        background-color: #151d22;
        z-index: 1;
        transition: all 0.3s ease;
        user-select: none;
        color: white;
        padding-right: 100px;
        top: 130px;
    }

    .card > span {
        display: none;
        transition: 500ms;
    }

    .card > p {
        display: none;
        transition: 500ms;
    }
    
    .card > h5 {
        display: none;
        transition: 500ms;
    }

    .card > i {
        display: none;
    }

    .team{
        position: relative;
        text-align: center;
        top: 450px;
        height: 710px;
        background-color: #202c34;
        color: white;
    }
}


@media screen and (max-width: 812px) {
    .card {
        text-align: center;
        width: 0px;
        height: 0px;
        background-color: #151d22;
        z-index: 1;
        transition: all 0.3s ease;
        user-select: none;
        color: white;
        padding-right: 100px;
        bottom: -100px;
        margin: 30px;
    }
}

@media screen and (max-width: 652px) {
    .card {
        text-align: center;
        width: 0px;
        height: 0px;
        background-color: #151d22;
        z-index: 1;
        transition: all 0.3s ease;
        user-select: none;
        color: white;
        padding-right: 100px;
        margin: 20px;
        top: 150px;
    }
}

@media screen and (max-width: 572px) {
    .card {
        text-align: center;
        width: 0px;
        height: 0px;
        background-color: #151d22;
        z-index: 1;
        transition: all 0.3s ease;
        user-select: none;
        color: white;
        padding-right: 100px;
        margin: 5px;
        top: 170px;
    }
}

@media screen and (max-width: 1000px) {
    .selectionbutton {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .text {
        position: relative;
        text-align: center;
        padding-bottom: 100px;
        top: 150px;
    }

    .mainpage > br {
        display: none;
    }
}

@media screen and (max-width: 517px) {
    body, html {
        font-family: 'Poppins', sans-serif;
        margin: auto;
        padding: 0%;
        background-color: white;
        width: 117.5%;
    }
}

.testimonial {
	position: relative;
	overflow: hidden;
	padding: 80px 0;
}

.testimonial .cover {
	background-color: rgba(0, 7, 11, 0.87);
}
.testimonial-inner {
	position: relative;
	max-width: 800px;
	z-index: 9;
}
.testimonial-inner .heading {
	margin-bottom: 20px;
}
.testimonial-inner blockquote {
	border: none;
}
.testimonial-inner blockquote p {
	letter-spacing: 2px;
	padding-bottom: 20px;
}
.testimonial-inner blockquote cite {
	font-style: normal;
	color: #fff;
	font-size: 1.5em;
}

.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	--webkit-background-size: cover;
}


.display-none {
    display: none;
}

.yo {
    text-decoration: underline;
}

.hover {
    display: inline-block;
    position: absolute;
    margin-left: -45px;
    bottom: 170px;
}

.hover-effect{
    width: 100px;
    height: 20px;
    border-radius: 3px;
    background-color: #202c34;
    color: white;
    font-size: 13px;
}

@media screen and (max-width: 574px) {
    .hover {
        display: inline-block;
        position: absolute;
        margin-left: -45px;
        margin-bottom: 5%;
    }
}

.discord {
    position: relative;
    font-family: Discord;
    bottom: 35px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 550px;
    background-color: #18191c;
    border-radius: 15px;
    color: white;
    transition: 500ms;
    user-select: none;
}

.adisspp2 {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    bottom: 60px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #18191c;
    border: 7px solid #18191c;
    transition: all 0.3s ease;
    z-index: 99;
    margin-left: 4%;
}

.banner {
    width: 100%;
    height: 180px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.status {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 7px solid #18191c;
    bottom: -12px;
    z-index: 2;
    margin-left: -35px;
    background-color: #18191c;
}


.button {
    position: relative;
    float: right;
    bottom: 30px
}

button {
    position: relative;
    font-family: Discord;
    background-color: #3ba55d;
    color: white;
    border:none;
    border-radius: 2px;
    font-size: 9px;
    width: 85px;
    height: 25px;
    transition: 300ms;
    font-weight: 500;
    z-index: 30;
}

button:hover {
    background-color: #2d7d46;
    cursor: pointer;
}

.ellipsis {
    position: relative;
    float: right;    
    opacity: 70%;
    margin: 10px;
    right: 3%;
    z-index: 30;
    bottom: 2.5px;
}

.ellipsis:hover{
    opacity: 90%;
    cursor: pointer;
}

.ellipsis:active{
    opacity: 100%;
}

.ellipsis > img {
    filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(150deg) brightness(114%) contrast(106%);
}

.nickname {
    position: relative;
    font-weight: 600;
    left: -113px;
    bottom: -15px;
    font-size: 20px;
}

.statuss {
    position: relative;
    font-weight: 400;
    font-size: 10px;
    color: rgb(175, 175, 175);
    padding-right: 35%;
    margin-top: 1%;
}

#boost {
    position: relative;
    bottom: -2px;
}

.etkinlik, .info {
    position: inherit;
    transition: 0.2s;
    margin: 60px;
    color: #b4b4b5;
    font-size: 12.5px;
    font-weight: 600;
    margin-left: -4.5%;
    padding-bottom: 3.5%;
    border-bottom: 2px solid transparent;
}

.main-body-buttons > ul > li {
    display: inline;
    list-style: none;
}

.main-body-buttons {
    position: relative;
    bottom: -19px;
    
}

.etkinlik:hover, .info:hover {
    position: relative;
    color: white;
    border-bottom-color: var(--interactive-active);
    cursor: pointer;
}

.main-body-buttons-active {
    position: relative;
    color: white;
    border-bottom-color: var(--interactive-active);
}


#hr1 {
    position: relative;
    font-size: 12px;
    width: 100%;
    height: 1px;
    background-color: #25262b;
    bottom: -20px;
}

#hr2 {
    position: relative;
    bottom: -85px;
    font-size: 12px;
    height: 1px;
    background-color: #25262b;
    width: 97%;
    margin-left: 0.7%;
    
}

button:active {
    background-color: #246639;
}

.almezinyarragi17cm {
    position: relative;
    left: 8px;
    bottom: 30px;
}

.about-me {
    position: relative;
    display: block;
    bottom: -22px;
    font-weight: 500;
    text-align: start;
    padding-left: 20px;
    font-size: 12px;
    color: #b4b4b5;
    overflow:scroll;
    overflow-x: hidden;
    height: 180px;
    width: 95.5%;
    margin: 0;
}
.about-me-hover::-webkit-scrollbar-track{
    background-color: transparent !important;
}
.about-me-non-hover::-webkit-scrollbar-track{
    background-color: transparent !important;
}
.about-me-hover::-webkit-scrollbar-thumb{
    background-color: rgb(32, 34, 37) !important;
}
.about-me-non-hover::-webkit-scrollbar-thumb{
    background-color: #18191c !important;
}
#about-you::-webkit-scrollbar-track{
	border-radius: 10px;
}

#about-you::-webkit-scrollbar{
	width: 5px;
}

#about-you::-webkit-scrollbar-thumb{
	border-radius: 10px;
    background-color: #202225;
}

#about-you::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0);
    height: -25px;
}

.githubio:hover {
    text-decoration: underline;
}

.connectedAccount-2Jb-Z0, .connectedAccounts-QlRa4m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.connectedAccounts-QlRa4m {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -20px;
}

.connectedAccount-2Jb-Z0 {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    margin-top: 20px;
    padding: 8px 14px 8px 8px;
    width: 190px;
    border: 1px solid hsla(0,0%,100%,0.06);
}

.connectedAccountIcon-3_EQqg {
    width: 30px;
    height: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.connectedAccountName-E1KzaT, .connectedAccountNameInner-2q3MVf {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.connectedAccountNameInner-2q3MVf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.connectedAccountName-E1KzaT {
    font-size: 16px;
    font-weight: 800;
    margin-left: 10px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
}
.connectedAccountName-E1KzaT, .connectedAccountNameInner-2q3MVf {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.connectedAccountVerifiedIcon-2cA82O {
    margin: 0 5px;
}

.flowerStarContainer-3zDVtj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.anchor-3Z-8Bb {
    color: var(--text-link);
    text-decoration: none;
}

.childContainer-1wxZNh {
    position: absolute;
    top: -.05px;
    left: .05px;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
}

.connectedAccountOpenIcon-E5wGF4 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    color: var(--interactive-normal);
    display: block;
}
svg[AttributesStyle] {
    width: 24;
    height: 24;
}
svg:not(:root) {
    overflow: hidden;
}

.anchorUnderlineOnHover-2ESHQB:hover {
    color: white;
}

html.disable-high-contrast * {
    forced-color-adjust: none;
}

.flowerStar-1GeTsn {
    width: 100%;
    height: 100%;
}

svg[AttributesStyle] {
    width: 16;
    height: 16;
}

.sadecefont {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.etkinlik-main {
    position: relative;
    display: none;
}

.main-status-image {
    border-radius: 10px;
    position: relative;
    height: 90px;
    width: 90px;
    margin-left: 17px;
}

/* contact-spotify-tmb */

.timeBarActivityFeed-24_oBt, .timeBarProfile-10b-fm {
    position: relative;
    margin-top: -27px;
    width: 40%;
    padding-left: 118px;
    bottom: -27px;
}

.bar-3urHkF, .barInner-3NDaY_ {
    border-radius: 2px;
}
.bar-3urHkF {
    background-color: rgba(79,84,92,.16);
    height: 4px;
    margin-bottom: 4px;
}
.barInner-3NDaY_ {
    background-color: #fff;
    height: 100%;
    min-width: 4px;
}
.bar-3urHkF, .barInner-3NDaY_ {
    border-radius: 2px;
}

.directionRow-3v3tfG {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.noWrap-3jynv6 {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.justifyStart-2NDFzi {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.alignStretch-DpGPf3 {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-1O1GKY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-AOoUen {
    font-weight: 500;
    color: hsla(0,0%,100%,.8);
}
.height12-2Ltw-k {
    line-height: 12px;
}
.size12-3R0845 {
    font-size: 12px;
}

.mesaj-gonder{
    font-size: 13px;
    padding-right: 1.4vh;
    padding-top: 0.7vh;
    padding-bottom: 8px;
    padding-left: 1.4vh;
    width: fit-content;
    height: fit-content;
}

#custom-status-emoji {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    bottom: -5px;
} 
